.drive-main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header-container {
    padding: 0 10px;

    .header-inner-container {
      height: 50px;
      width: 100%;
      border-bottom: solid 1px hsl(0, 0%, 80%);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-container {
        display: flex;
        align-items: center;

        .action-button-icon {
          height: 22px;
          width: 22px;
          padding: 2px;
          background-color: gray;
          border-radius: 50%;
          margin-right: 20px;
          cursor: pointer;
        }

        .action-button-icon-disabled {
          opacity: 0.4;
          cursor: not-allowed;
        }

        .breadcrumbs-container {
          display: flex;
          color: hsl(0, 0%, 80%);

          .breadcrumb-container {
            display: flex;

            .breadcrumb-label {
              cursor: pointer;
            }

            .breadcrumb-label-current {
              cursor: default;
              color: black;
            }

            .breadcrumb-divider {
              padding: 0 5px;
            }
          }
        }
      }

      .right-container {
        width: 250px;

        .search {
          width: 100%;
          padding: 6px 10px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }
    }
  }

  .files-container {
    padding: 40px;
    display: flex;
    flex: 1;

    .file-container {
      height: 120px;
      width: 100px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 12px 8px;
      position: relative;
      margin: 0 20px;
      z-index: 1;

      .file-name {
        font-size: 12px;
      }

      .file-extension {
        position: absolute;
        font-size: 12px;
        color: white;
        top: 60px;
        left: 32px;
      }

      .add-new-icon {
        cursor: pointer;
        height: 100%;
      }
    }

    .file-container-selected {
      background-color: #e6f5ff;
    }

    .menu-container {
      position: absolute;
      top: 110px;
      left: 70px;
      background: white;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 10px 0;

      .menu-option-container {
        padding: 8px 20px;
        width: 130px;
        font-size: 14px;

        .menu-option-danger-label {
          color: red;
        }
      }

      .menu-option-container:hover {
        background-color: #e6f5ff;
      }
    }
  }
}

.modal-container {
  // padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .modal-label,
  .modal-radio-button {
    margin-bottom: 20px;
  }

  .modal-radio-button {
    border-radius: 8px;
    overflow: hidden;
    border: solid 1px hsl(0, 0%, 80%);

    .radio-select {
      border: none;
      padding: 8px;
      cursor: pointer;
      border-radius: 0;
      width: 60px;
      background-color: white;
    }

    .radio-select-selected {
      background-color: #4ab7ff;
      color: white;
    }
  }

  .modal-input-container {
    margin-bottom: 14px;
    width: 100%;

    .fileName {
      width: 100%;
      padding: 6px 10px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  .create-button {
    width: 100%;
    border: none;
    color: white;
    background-color: #4ab7ff;
    padding: 8px;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
  }
}
